fastapi
uvicorn[standard]
pandas
numpy
scikit-learn
xgboost
google-generativeai
openai
python-multipart
PyMuPDF
Pillow
opencv-python
ezdxf
chromadb
sentence-transformers
python-dotenv
logging-config
cryptography

