fastapi
uvicorn[standard]
pydantic

pandas
numpy
openpyxl

scikit-learn
xgboost
joblib

matplotlib
seaborn

google-generativeai
openai

chromadb
sentence-transformers

python-multipart
PyMuPDF
Pillow
opencv-python
ezdxf

python-dotenv

httpx
aiofiles

typing-extensions

langchain
langchain-community